body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-left, .navbar-right {
    padding: 1.5rem;
}

.navbar-left {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar-right {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
}

.topnav li {
    display: inline;
    font-size: 00.88rem;
    padding-right: 1rem;
}

.botnav {
    margin-bottom: 0;
}

.footer {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-nav-left {
    display: inline-block;
    width: 50%;
}

.footer-nav-right {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    text-align: right;
}

.footer-nav-right ul {
    padding-right: 1rem;
}

.footer-country {
    padding: 1rem;
    border-bottom: 1px solid rgb(202, 199, 199);
    background-color: #f2f2f2;
    color: #70757a;
}

.footer-country p {
    padding-left: 1rem;
    font-size: 0.9rem;
}

.botnav .footer-nav-left, .footer-nav-right {
   background-color: #f2f2f2; 
}

.botnav li {
    display: inline;
    padding-left: 1.2rem;
    padding-right: 0.3rem;
}

.topnav a {
    text-decoration: none;
    color: #222;
}

.footer-nav-left, .footer-nav-right {
    padding: 1rem;
}

.botnav a {
    text-decoration: none;
    color: #70757a;
    font-size: 0.88rem;
}

.img-container { 
    text-align: center;
    margin-top: 10rem;
}

.google-logo {
    margin-bottom: 3rem
}

.search-master {
    display: inline-flex;
    border: 1px solid lightgray;
    width: 38rem;
    height: 2.8rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
}

.search-container {
    text-align: center;
}

.search-icon {
    display: inline;
    background-color: transparent;
    color: lightgray;
}

.reset-button {
    display: block;
    border: none;
    background-color: transparent;
}

.button-container {
    text-align: center;
}

.search {
    border: none;
    outline: none;
    width: 35rem;
    height: 2.8rem;
    background-color: transparent;
}